@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-audio-green: #0acf83;
  --color-audio-yellow: #ffc120;
}

@layer components {
  .input-container {
    @apply flex items-center gap-2 bg-white p-2 rounded-md border border-transparent transition-colors focus-within:border-audio-green focus-within:border-2;

    @apply focus-within:border-audio-green focus-within:text-audio-green;
  }
  .auth-page-container {
    @apply min-h-screen w-full p-10 py-20 md:p-30 md:py-40 bg-cover bg-center bg-no-repeat flex flex-col items-center justify-between;
  }
}

@layer text {
  .audio-title {
    @apply font-[Audiowide] text-6xl text-white md:text-8xl;
  }
  .audio-subtitle {
    @apply text-sm text-white;
  }
}

#root {
  /* max-width: 1280px; */
  height: 100vh;
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}
